@import "../Utils/variables";
@import "../Utils/mixins";

/*Section restaurants*/
.restaurant-section {
    background-color: $bg-color;
    &__container {
        padding: 80px 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 25px;
        h2 {
            margin-bottom: 10px;
        }
    }
    &__article {
        flex-basis: 320px;
    }
    @media screen and (min-width: 900px) {
        &__container {
            max-width: 1400px;
            margin: auto;
            flex-direction: row;
            flex-wrap: wrap;
            row-gap: 50px;
        }
        h2{
            flex-basis: 100%;
        }
        &__article {
            flex-basis: 48%;
            height: 400px;
        }
    }
    @media screen and (min-width: 900px) and (max-width:1480px) {
        &__container {
            margin: 0px 40px 0px 40px;
        }
    }
    @media screen and (min-width: 760px) and (max-width:900px) {
        &__container {
            margin: 0px 40px 0px 40px;
            gap: 40px;
            }
        &__article {
            flex-basis: 400px;
        }
    }
    @media screen and (max-width: 460px) {
        &__article {
            flex-basis: 250px;
        }
    }
}

/*Card des restaurants*/
.restaurant-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-radius: $border-radius-card;
    background-color: white;
    overflow: hidden;
    @include box-shadow;
    &__new {
        height: 30px;
        width: 100px;
        position: absolute;
        z-index: 2;
        align-self: flex-end;
        background-color: #99e2d0;
        color: darken(#99e2d0, 40%);
        margin: 15px;
        display: flex;
        border-radius: 4px;
        p {
            margin: auto;
            font-size: 16px;
            font-weight: 500;
        }
    }
    &__img {
        flex: 1;
        position: relative;
        overflow: hidden;
        border-top-left-radius: $border-radius-card;
        border-top-right-radius: $border-radius-card;
        img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        }
    }
    &__description {
        flex-basis: 30%;
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }
    &__text {
            flex-basis: 70%;
            padding-left: 20px;
            h3 {
                padding-bottom: 5px;
                font-weight: 800;
            } 
            p {
                font-size: 22px;
            }
            @media screen and (min-width: 760px) {
                h3 {
                    font-size: 26px;
                }
            }
        }
    &__heart {
        margin: auto;
        font-size: 30px;
        &-icon:hover {
            animation: heart-anim $heart-anim-dur;
            display: inline-block;
            font-weight: bold;
	        background-clip: text;
            background: $linear-gradient;
	        -webkit-background-clip: text;
	        -webkit-text-fill-color: transparent;
        }
    }
    @media screen and (max-width: 460px) {
        &__text {
            h3 {
                font-size: 21px;
            } 
            p {
                font-size: 18px;
            }
        }
    }
}

@keyframes heart-anim {
    0% {
        opacity: 0.2;
    }
    100% {
        opacity: 1;
    }
}